In [1]:
#Import all dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
csv_file_alcohol_consumption = "HappinessAlcoholConsumption.csv"
df = pd.read_csv(csv_file_alcohol_consumption) 
df.head()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97

In [3]:
df['Total Alcohol Consumption']= df.iloc[:, 6:9].sum(axis=1)
df.head()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita,Total Alcohol Consumption
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278,583
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280,565
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78,372
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129,369
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97,493

In [4]:
#New total database
df_totals = df[['Country', 'Region','HappinessScore','HDI','GDP_PerCapita','Total Alcohol Consumption']].copy()
df_totals.head()

,Country,Region,HappinessScore,HDI,GDP_PerCapita,Total Alcohol Consumption
0,Denmark,Western Europe,7.526,928,53.579,583
1,Switzerland,Western Europe,7.509,943,79.866,565
2,Iceland,Western Europe,7.501,933,60.530,372
3,Norway,Western Europe,7.498,951,70.890,369
4,Finland,Western Europe,7.413,918,43.433,493

In [5]:
#New Region dataset
df_region =df_totals.groupby(['Region']).sum()
df_region = df_region.reset_index()
df_region = df_region.sort_values(by='HappinessScore', ascending=False)
df_region = df_region.reset_index()
df_region = df_region.drop(['index'],axis= 1)
df_region = df_region.reset_index()
df_region = df_region.rename(columns={'index':'id_Region'})
df_region['id_Region'] = df_region['id_Region']+1

df_region

,id_Region,Region,HappinessScore,HDI,GDP_PerCapita,Total Alcohol Consumption
0,1,Central and Eastern Europe,145.353,21457,230.802,11493
1,2,Latin America and Caribbean,139.403,16746,912.041,7019
2,3,Western Europe,134.628,18167,919.479,10315
3,4,Sub-Saharan Africa,116.241,15019,8569.935,3120
4,5,Middle East and Northern Africa,59.881,8364,192.980,842
5,6,Southeastern Asia,27.460,3639,67.614,936
6,7,Eastern Asia,21.908,3298,77.888,1013
7,8,Australia and New Zealand,14.647,1853,90.229,1002
8,9,North America,14.508,1844,99.938,953

In [6]:
#New Top 10 countries dataset
df_countries = df_totals.sort_values(by='HappinessScore', ascending=False)
df_countries = df_countries.head(20)
df_countries

,Country,Region,HappinessScore,HDI,GDP_PerCapita,Total Alcohol Consumption
0,Denmark,Western Europe,7.526,928,53.579,583
1,Switzerland,Western Europe,7.509,943,79.866,565
2,Iceland,Western Europe,7.501,933,60.530,372
3,Norway,Western Europe,7.498,951,70.890,369
4,Finland,Western Europe,7.413,918,43.433,493
5,Canada,North America,7.404,922,42.349,462
6,Netherlands,Western Europe,7.339,928,45.638,529
7,New Zealand,Australia and New Zealand,7.334,915,40.332,457
8,Australia,Australia and New Zealand,7.313,938,49.897,545
9,Sweden,Western Europe,7.291,932,51.845,398
10,Israel,Middle East and Northern Africa,7.267,902,37.181,141
11,Austria,Western Europe,7.119,906,44.731,545
12,United States,North America,7.104,922,57.589,491
13,Costa Rica,Latin America and Caribbean,7.087,791,11.733,247
14,Germany,Western Europe,6.994,934,42.233,638
15,Brazil,Latin America and Caribbean,6.952,758,8.639,406
16,Belgium,Western Europe,6.929,915,41.261,591
17,Ireland,Western Europe,6.907,934,64.100,596
18,Luxembourg,Western Europe,6.871,904,100.739,640
19,Mexico,Latin America and Caribbean,6.778,772,8.444,311

In [7]:
#Merge to add region ids to Country dataset
df_region_2= df_region[['id_Region','Region']]
df_countries_2 = df_countries.merge(df_region_2, left_on='Region', right_on='Region', how='left')
df_countries_2 = df_countries_2.reset_index()
df_countries_2 = df_countries_2.rename(columns={'index':'id_Country'})
df_countries_2['id_Country'] = df_countries_2['id_Country']+1
df_countries_2

,id_Country,Country,Region,HappinessScore,HDI,GDP_PerCapita,Total Alcohol Consumption,id_Region
0,1,Denmark,Western Europe,7.526,928,53.579,583,3
1,2,Switzerland,Western Europe,7.509,943,79.866,565,3
2,3,Iceland,Western Europe,7.501,933,60.530,372,3
3,4,Norway,Western Europe,7.498,951,70.890,369,3
4,5,Finland,Western Europe,7.413,918,43.433,493,3
5,6,Canada,North America,7.404,922,42.349,462,9
6,7,Netherlands,Western Europe,7.339,928,45.638,529,3
7,8,New Zealand,Australia and New Zealand,7.334,915,40.332,457,8
8,9,Australia,Australia and New Zealand,7.313,938,49.897,545,8
9,10,Sweden,Western Europe,7.291,932,51.845,398,3
10,11,Israel,Middle East and Northern Africa,7.267,902,37.181,141,5
11,12,Austria,Western Europe,7.119,906,44.731,545,3
12,13,United States,North America,7.104,922,57.589,491,9
13,14,Costa Rica,Latin America and Caribbean,7.087,791,11.733,247,2
14,15,Germany,Western Europe,6.994,934,42.233,638,3
15,16,Brazil,Latin America and Caribbean,6.952,758,8.639,406,2
16,17,Belgium,Western Europe,6.929,915,41.261,591,3
17,18,Ireland,Western Europe,6.907,934,64.100,596,3
18,19,Luxembourg,Western Europe,6.871,904,100.739,640,3
19,20,Mexico,Latin America and Caribbean,6.778,772,8.444,311,2

In [8]:
#Final datasets
df_countries_final = df_countries_2
df_regions_final = df_region

In [9]:
# transpose frame'
locations_csv = df_countries_2.set_index("Country")
loc_transposed = locations_csv.transpose()

In [10]:
json_test = loc_transposed.to_json()
json_test

'{"Denmark":{"id_Country":1,"Region":"Western Europe","HappinessScore":7.526,"HDI":928,"GDP_PerCapita":53.579,"Total Alcohol Consumption":583,"id_Region":3},"Switzerland":{"id_Country":2,"Region":"Western Europe","HappinessScore":7.509,"HDI":943,"GDP_PerCapita":79.866,"Total Alcohol Consumption":565,"id_Region":3},"Iceland":{"id_Country":3,"Region":"Western Europe","HappinessScore":7.501,"HDI":933,"GDP_PerCapita":60.53,"Total Alcohol Consumption":372,"id_Region":3},"Norway":{"id_Country":4,"Region":"Western Europe","HappinessScore":7.498,"HDI":951,"GDP_PerCapita":70.89,"Total Alcohol Consumption":369,"id_Region":3},"Finland":{"id_Country":5,"Region":"Western Europe","HappinessScore":7.413,"HDI":918,"GDP_PerCapita":43.433,"Total Alcohol Consumption":493,"id_Region":3},"Canada":{"id_Country":6,"Region":"North America","HappinessScore":7.404,"HDI":922,"GDP_PerCapita":42.349,"Total Alcohol Consumption":462,"id_Region":9},"Netherlands":{"id_Country":7,"Region":"Western Europe","HappinessScore":7.339,"HDI":928,"GDP_PerCapita":45.638,"Total Alcohol Consumption":529,"id_Region":3},"New Zealand":{"id_Country":8,"Region":"Australia and New Zealand","HappinessScore":7.334,"HDI":915,"GDP_PerCapita":40.332,"Total Alcohol Consumption":457,"id_Region":8},"Australia":{"id_Country":9,"Region":"Australia and New Zealand","HappinessScore":7.313,"HDI":938,"GDP_PerCapita":49.897,"Total Alcohol Consumption":545,"id_Region":8},"Sweden":{"id_Country":10,"Region":"Western Europe","HappinessScore":7.291,"HDI":932,"GDP_PerCapita":51.845,"Total Alcohol Consumption":398,"id_Region":3},"Israel":{"id_Country":11,"Region":"Middle East and Northern Africa","HappinessScore":7.267,"HDI":902,"GDP_PerCapita":37.181,"Total Alcohol Consumption":141,"id_Region":5},"Austria":{"id_Country":12,"Region":"Western Europe","HappinessScore":7.119,"HDI":906,"GDP_PerCapita":44.731,"Total Alcohol Consumption":545,"id_Region":3},"United States":{"id_Country":13,"Region":"North America","HappinessScore":7.104,"HDI":922,"GDP_PerCapita":57.589,"Total Alcohol Consumption":491,"id_Region":9},"Costa Rica":{"id_Country":14,"Region":"Latin America and Caribbean","HappinessScore":7.087,"HDI":791,"GDP_PerCapita":11.733,"Total Alcohol Consumption":247,"id_Region":2},"Germany":{"id_Country":15,"Region":"Western Europe","HappinessScore":6.994,"HDI":934,"GDP_PerCapita":42.233,"Total Alcohol Consumption":638,"id_Region":3},"Brazil":{"id_Country":16,"Region":"Latin America and Caribbean","HappinessScore":6.952,"HDI":758,"GDP_PerCapita":8.639,"Total Alcohol Consumption":406,"id_Region":2},"Belgium":{"id_Country":17,"Region":"Western Europe","HappinessScore":6.929,"HDI":915,"GDP_PerCapita":41.261,"Total Alcohol Consumption":591,"id_Region":3},"Ireland":{"id_Country":18,"Region":"Western Europe","HappinessScore":6.907,"HDI":934,"GDP_PerCapita":64.1,"Total Alcohol Consumption":596,"id_Region":3},"Luxembourg":{"id_Country":19,"Region":"Western Europe","HappinessScore":6.871,"HDI":904,"GDP_PerCapita":100.739,"Total Alcohol Consumption":640,"id_Region":3},"Mexico":{"id_Country":20,"Region":"Latin America and Caribbean","HappinessScore":6.778,"HDI":772,"GDP_PerCapita":8.444,"Total Alcohol Consumption":311,"id_Region":2}}'

In [11]:
with open('regions.json', 'w') as f:
    json.dump(json_test, f)

NameError: name 'json' is not defined

In [9]:
#Change datasets to list of dicitonaries
df_countries_dic = df_countries_final.to_dict('records')
df_regions_dic = df_regions_final.to_dict('records')

In [10]:
df_regions_dic

[{'id_Region': 1,
  'Region': 'Central and Eastern Europe',
  'HappinessScore': 145.35300000000004,
  'HDI': 21457,
  'GDP_PerCapita': 230.802,
  'Total Alcohol Consumption': 11493},
 {'id_Region': 2,
  'Region': 'Latin America and Caribbean',
  'HappinessScore': 139.403,
  'HDI': 16746,
  'GDP_PerCapita': 912.041,
  'Total Alcohol Consumption': 7019},
 {'id_Region': 3,
  'Region': 'Western Europe',
  'HappinessScore': 134.628,
  'HDI': 18167,
  'GDP_PerCapita': 919.479,
  'Total Alcohol Consumption': 10315},
 {'id_Region': 4,
  'Region': 'Sub-Saharan Africa',
  'HappinessScore': 116.24099999999997,
  'HDI': 15019,
  'GDP_PerCapita': 8569.935000000001,
  'Total Alcohol Consumption': 3120},
 {'id_Region': 5,
  'Region': 'Middle East and Northern Africa',
  'HappinessScore': 59.881,
  'HDI': 8364,
  'GDP_PerCapita': 192.98,
  'Total Alcohol Consumption': 842},
 {'id_Region': 6,
  'Region': 'Southeastern Asia',
  'HappinessScore': 27.46,
  'HDI': 3639,
  'GDP_PerCapita': 67.614,
  'Total Alcohol Consumption': 936},
 {'id_Region': 7,
  'Region': 'Eastern Asia',
  'HappinessScore': 21.908,
  'HDI': 3298,
  'GDP_PerCapita': 77.888,
  'Total Alcohol Consumption': 1013},
 {'id_Region': 8,
  'Region': 'Australia and New Zealand',
  'HappinessScore': 14.646999999999998,
  'HDI': 1853,
  'GDP_PerCapita': 90.229,
  'Total Alcohol Consumption': 1002},
 {'id_Region': 9,
  'Region': 'North America',
  'HappinessScore': 14.508,
  'HDI': 1844,
  'GDP_PerCapita': 99.93799999999999,
  'Total Alcohol Consumption': 953}]